body {
  position: absolute;
  left: 20%;
  margin: 0;
  padding: 5em;
  width: 50%;
}

fieldset {
  background-color: aqua;
  border: none;
  border-radius: .4em;
  margin-top: 1em;
}

legend {
  background-color: red;
  color: white;
}

h1 {
  color: blue;
  text-shadow: 0.1em 0.1em 0.1em yellow;
  text-align: center;
}

input {
  background-color: yellow;
  border-color: rgb(223, 223, 223);
  border-radius: .4em;
}

.typeOfContract {
  margin-right: 1.5em;
}

.typeOfPortability {
  margin-left: 1.5em;
}

#dateSurvey {
  background-color: white;
  border-radius: 0;
}

.buttonsSubmitAndReset {
  margin-top: .1em;
}

.buttonsSubmitAndReset:hover {
  border-color: blue;
}

.buttonRed {
  margin-top: .1em;
  background-color: pink;
  border-color: rgb(238, 238, 238);
  border-radius: .4em;
  padding: .5em 2em ;
}